<div class="info">
    Posted on $date$
    $if(author)$
        by $author$
    $endif$
</div>

$body$

<div id="share-buttons">   
 
<!-- Facebook -->
<a href="http://www.facebook.com/sharer.php?u=http://edofic.com$url$" target="_blank"><img src="/icons/facebook.png" alt="Facebook" /></a>
 
<!-- Twitter -->
<a href="http://twitter.com/share?url=http://edofic.com$url$&text=$title$" target="_blank"><img src="/icons/twitter.png" alt="Twitter" /></a>
 
<!-- Google+ -->
<a href="https://plus.google.com/share?url=http://edofic.com$url$" target="_blank"><img src="/icons/google.png" alt="Google" /></a>
 
<!-- Digg -->
<a href="http://www.digg.com/submit?url=http://edofic.com$url$" target="_blank"><img src="/icons/diggit.png" alt="Digg" /></a>
 
<!-- Reddit -->
<a href="http://reddit.com/submit?url=http://edofic.com$url$&title=$title$" target="_blank"><img src="/icons/reddit.png" alt="Reddit" /></a>
 
<!-- LinkedIn -->
<a href="http://www.linkedin.com/shareArticle?mini=true&url=http://edofic.com$url$" target="_blank"><img src="/icons/linkedin.png" alt="LinkedIn" /></a>
 
<!-- StumbleUpon-->
<a href="http://www.stumbleupon.com/submit?url=http://edofic.com$url$&title=$title$" target="_blank"><img src="/icons/stumbleupon.png" alt="StumbleUpon" /></a>
 
<!-- Email -->
<a href="mailto:?Subject=$title$&Body=I%20saw%20this%20and%20thought%20of%20you!%20 http://edofic.com$url$"><img src="/icons/email.png" alt="Email" /></a>
 
</div>


<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'myprogrammingescapades'; 
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
